@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: 'Mulish', sans-serif;
}

section {
  padding: 0 20%;
}
#main-section {
  background: linear-gradient(-45deg, #e6b8aa, #ecbfd0, #a1dbf0, #9df0dc);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes main-content {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-3%);
  }
}

@keyframes border-profile-image {
  0% {
    border-radius: 90% 23% 66% 44%;
  }
  25% {
    border-radius: 40% 74% 38% 89%;
  }
  50% {
    border-radius: 60% 36% 80% 40%;
  }
  75% {
    border-radius: 70% 39% 70% 38%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.all-sections {
  padding-top: 5%;
  padding-bottom: 5%;
}

#list-of-projects {
  padding: 5% 100px;
  display: flex;
  flex-direction: column;
  max-width: 950px;
  gap: 50px;
  box-sizing: border-box;
}

.article-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects-even {
  margin-left: 50px;
}
.projects-odd {
  margin-right: 50px;
}

#contact > p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact-image {
  animation: contact-icons 3.5s ease-in-out infinite;
}

@keyframes contact-icons {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}

.contact-title {
  margin: 0 0 5px 0;
  font-weight: 600;
}

@media (min-width: 2600px) {
  body {
    padding: 0 20%;
  }
  header {
    width: 60%;
  }
}
@media (max-width: 2000px) {
  #main-article,
  #tech-stack {
    scale: 0.9;
  }
}
@media (max-width: 1450px) {
  #about article {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
  #profile-image {
    padding-right: 0;
    padding-left: 0;
    margin-right: 30px;
  }
  .all-sections {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (max-width: 1180px) {
  #main-article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    row-gap: 20px;
  }
  #main-section {
    height: auto;
  }
  #main-title {
    text-align: center;
    padding: 0;
  }
  #links {
    justify-content: center;
  }
  #profile-image {
    display: grid;
    order: -1;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #tech-stack {
    flex-wrap: wrap;
    border-right: none;
  }
  #tech-stack p {
    border-right: none;
  }
  #list-of-projects {
    padding: 5% 0;
  }
  .project-articles {
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
  }
  .project-articles img {
    order: -1;
    margin-bottom: 20px;
  }
  .projects-even {
    margin-left: 0;
  }
  .projects-odd {
    margin: 0;
  }

  .projects-odd {
    margin-right: 0;
  }
  .projects-odd,
  .projects-even {
    width: 100%;
    text-align: center;
  }
  .project-articles div a {
    padding-left: 20px;
  }
  #about h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 900px) {
  #main-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 800px) {
  section {
    padding: 0 10%;
  }

  #contact-link {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  footer p {
    text-align: center;
  }

  #about article img {
    width: 100%;
  }
}
@media (max-width: 630px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 40px;
  }
  #main-section {
    padding-top: 10%;
  }
  #tech-stack {
    padding: 20px 0;
    max-width: 200px;
  }
  #tech-stack div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  #contact p {
    margin-top: 0;
    text-align: center;
  }
  #contact-link article {
    width: 100%;
  }
  #contact-link {
    padding-left: 20%;
  }
  .contact-details {
    padding-left: 6%;
  }
}
@media (max-width: 450px) {
  section {
    padding: 0;
  }
  .all-sections {
    padding-left: 30px;
    padding-right: 30px;
  }
  header nav {
    column-gap: 12px;
  }

  #about article div {
    text-align: center;
  }
  #list-of-projects,
  #list-of-projects img,
  .project-articles img,
  #main-article,
  #profile-image img {
    width: 100%;
  }
  #main-section {
    height: auto;
    padding: 60px 10px 30px 10px;
  }
  #main-article {
    box-sizing: border-box;
    grid-template-columns: 100%;
    padding: 20px 30px;
    margin-bottom: 0;
  }

  #main-title {
    padding: 0;
    text-align: center;
  }
  #main-title h2 {
    font-size: 2.3rem;
    line-height: 50px;
  }
  #about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  #about h2 {
    z-index: 2;
    margin-bottom: 0;
  }

  #about article {
    grid-template-rows: 40% 60%;
  }
  #about article div {
    font-size: 0.9rem;
  }

  .project-articles div {
    text-align: center;
  }
}
@media (max-width: 400px) {
  #contact-link {
    padding-left: 10%;
  }
}
